# build output
dist/
dist-stead/
tmp/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production
.env.local

# macOS-specific files
.DS_Store

# lock files (we're using pnpm)
package-lock.json
yarn.lock