<!DOCTYPE html>
<html lang="en">
<!-- PAGE HEADER -->

<head>
  {% import "templates/head.html" as head %}
  {% import "templates/imgset.html" as imgset %}
  {% import "templates/cssImage.html" as cssImage %}

  {{ head.header("stead. Home","stead. digital innovation") }}
  <meta property="og:url" content="https://stead.africa/performance.html" />
  <!-- <meta property="og:image"
    content="https://silience.co.za/assets/img-responsive/helloquence-5fNmWej4tAA-unsplash-small.jpg" />
  <meta name="twitter:image:src"
    content="https://silience.co.za/assets/img-responsive/helloquence-5fNmWej4tAA-unsplash-small.jpg"/> -->
  {{ cssImage.cssPicture("header1","xuan-nguyen-KcWIsfbBfa4-unsplash","jpg") }}
  {{ cssImage.cssPicture("performance1","joanna-kosinska-7ACuHoezUYk-unsplash","jpg") }}
  <script>
    Modernizr.on('webp', function (result) {
      if (!result) {
        document.getElementById("header1").style.backgroundImage = "url('assets/img/xuan-nguyen-KcWIsfbBfa4-unsplash.jpg')";
        document.getElementById("performance1").style.backgroundImage = "url('assets/img/joanna-kosinska-7ACuHoezUYk-unsplash.jpg')";
      }
    });
  </script>
</head>
<!-- END PAGE HEADER -->

<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  {% include "templates/nav.html" %}
  <!-- End Navbar -->

  <div class="wrapper">
    <div class="main">
      <!-- Put main data here! -->
      <div class="header-1">
        <div class="page-header header-filter">
          <div class="page-header-image" id='header1'></div>
          <div class="container">
            <div class="row">
              <div class="col-md-7 ml-auto text-right">
                <h1 class="title">We're performance driven. Not just ours, but yours too</h1>
                <h4 class="description">At stead. we know that you can't do your work, if what you're using doesn't work. Scroll down to see how we value your performance</h4>
                <br />
                <div class="buttons">
                  <a href="#more" class="btn btn-info btn-lg mr-3">
                    Read More
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a name="more"></a>
      
      <div class="features-5">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <h2 class="title">This is our promise</h2>
              
              <div class="info info-horizontal">
                <div class="icon icon-primary icon-circle">
                  <i class="now-ui-icons location_world"></i>
                </div>
                <div class="description">
                  <h4 class="info-title">99.9% Uptime</h4>
                  <p>How can you use it if it's not available? Our promise is that your service will be up for 99.9% of the time</p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-primary icon-circle">
                  <i class="now-ui-icons sport_user-run"></i>
                </div>
                <div class="description">
                  <h4 class="info-title">Ready in less than 1 second</h4>
                  <p>How can you use it if you can't see it? Our promise is that your service will be ready for input within 1 second</p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-primary icon-circle">
                  <i class="now-ui-icons ui-2_time-alarm"></i>
                </div>
                <div class="description">
                  <h4 class="info-title">Useable without a manual</h4>
                  <p>How can you use it if you don't know how? Our promise is that your service will be useable by someone new without complicated training or manuals</p>
                </div>
              </div>
              <br />
              <h6>We verify all of our promises with the latest independent tools</h6>
            </div>
            <div class="col-md-7">
              <div class="tablet-container">
                {{ imgset.picturePercent("ipad2-inverted","png",60) }}                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="features-8 section-image" id="performance1">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">We believe in four pillars of good performance</h2>
          <h4 class="description">How can things be simple if they don't even work well? How can users interact with a platform if they're always waiting for it? They can't</h4>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-3 same-height">
              <div class="card">
                <div class="card-image">
                  {{ imgset.picturePercent("bg28","jpg",30) }}
                </div>
                <div class="info text-center">
                  <div class="icon">
                    <i class="now-ui-icons design_app"></i>
                  </div>
                  <h4 class="info-title">Simple</h4>
                  <p class="description">At stead., we love to solve the right problems. By solving the right problem and nothing more, we ensure there is less to take away from the solution. Efficient, and effective which gives us good performance</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 same-height">
              <div class="card">
                <div class="card-image">
                  {{ imgset.picturePercent("bg26","jpg",30) }}
                  
                </div>
                <div class="info text-center">
                  <div class="icon">
                    <i class="now-ui-icons design-2_ruler-pencil"></i>
                  </div>
                  <h4 class="info-title">Ergonomic</h4>
                  <p class="description">By designing with the user, we create a solution that is intuitive and easy to use. A design should cater for a smooth user experience and thus excellence performance</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 same-height">
              <div class="card">
                <div class="card-image">
                  {{ imgset.picturePercent("bg27","jpg",30) }}
                </div>
                <div class="info text-center">
                  <div class="icon">
                    <i class="now-ui-icons ui-1_send"></i>
                  </div>
                  <h4 class="info-title">Innovative</h4>
                  <p class="description">How do you achieve all these things and still deliver a product in time? The key at stead. is innovation. We use the latest tech to ensure a great user experience without overcomplicating things</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 same-height">
              <div class="card">
                <div class="card-image">
                  {{ imgset.picturePercent("bg29","jpg",30) }}
                </div>
                <div class="info text-center">
                  <div class="icon">
                    <i class="now-ui-icons ui-2_like"></i>
                  </div>
                  <h4 class="info-title">Native</h4>
                  <p class="description">We believe that by building on the experience of others we build taller and quicker. A catch-all solution often speeds up time in the beginning, but slows you down at the end. We design solutions that meet you where you are</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END of main data -->
    </div>
  </div>
  <!-- Start FOOTER -->
  {% include "templates/foot.html" %}
  {% include "templates/anchor.html" %}
  
</body>

</html>