<script>
    $("#messageUs").submit(function (e) {
        e.preventDefault();
        grecaptcha.ready(function () {
            // do request for recaptcha token
            // response is promise with passed token
            grecaptcha.execute('6LdrxqcnAAAAANGpfPhIGzWvPRAniLMTWp1eznv4', {
                action: 'contactUs'
            }).then(function (token) {
                $.ajax({
                    url: 'api/v0/captcha',
                    type: 'POST',
                    data: {
                        site: 'stead_africa',
                        Name: $('#contactName').val(),
                        Email: $('#contactEmail').val(),
                        Number: $('#contactNumber').val(),
                        Message: $('#message').val(),
                        'g-recaptcha-response': token
                    },
                    success: function (msg) {
                        $("#successmsg").html(
                            "<p>Thanks for your request! We will be in contact soon</p>"
                            );
                    }
                });
            });
        });
    });
</script>