<script>
    $("#find-out").submit(function (e) {
        e.preventDefault();
        grecaptcha.ready(function () {
            // do request for recaptcha token
            // response is promise with passed token
            grecaptcha.execute('6LdrxqcnAAAAANGpfPhIGzWvPRAniLMTWp1eznv4', {
                action: 'contactUs'
            }).then(function (token) {
                $.ajax({
                    url: 'api/v0/captcha',
                    type: 'POST',
                    data: {
                        site: 'stead_africa',
                        Email: $('#findoutemail').val(),
                        Page: "Find out button clicked",
                        'g-recaptcha-response': token
                    },
                    success: function (msg) {
                        $("#findoutdone").html(
                            "<p>Thanks! We will be in contact within 2 business days!</p>"
                            );
                    }
                });
            });
        });
    });
</script>