{% macro picturePercent(name, extension, percentWidth) %}
<picture>
  <source type="image/{{ extension }}"
    srcset="assets/img/{{ name }}.{{ extension }}" />
  <!-- fallback -->
  <img src="assets/img/{{ name }}.{{ extension }}" alt="{{ name }}" />
</picture>
{% endmacro %}

{% macro pictureFixed(name, extension, width) %}
<picture>
  <source type="image/{{ extension }}"
    srcset="assets/img/{{ name }}.{{ extension }}, assets/img-responsive/{{ name }}.{{ extension }}" />
  <!-- fallback -->
  <img src="assets/img/{{ name }}.{{ extension }}" />
</picture>
{% endmacro %}

{% macro pictureFixedthenPercent(name, extension, fixedWidth, percentWidth) %}
<picture>
  <source type="image/{{ extension }}"
    srcset="assets/img/{{ name }}.{{ extension }}" />
  <!-- fallback -->
  <img src="assets/img/{{ name }}.{{ extension }}"
    alt="{{ name }}" />
</picture>
{% endmacro %}