---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import ContactCard from '../components/ContactCard.astro';
---

<BaseLayout title="Contact" description="Get in touch with stead." ogUrl="https://stead.africa/contact">
  <Fragment slot="head">
    <style>
      #headerImage {
        background-image: url('/img/john-o-nolan-rqrv0bbzMLg-unsplash.jpg');
        background-size: cover;
        background-position: center;
      }
    </style>
  </Fragment>

  <Nav />

  <div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" id="headerImage"></div>
    </div>
    <div class="main">
      <div class="contact-content">
        <div class="container">
          <div class="row">
            <div class="col-md-5 ml-auto mr-auto">
              <h2 class="title">Send us a message</h2>
              <p class="description">You can contact us with anything related to our services. We'll get in touch with you as soon as possible.<br><br></p>
              <ContactCard />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Footer />

  <script is:inline>
    $("#messageUs").submit(function (e) {
      e.preventDefault();
      grecaptcha.ready(function () {
        grecaptcha.execute('6LdXmrsnAAAAAFiOD0zoXJ-owoUhc5xhSvQK_C_4', {
          action: 'contactUs'
        }).then(function (token) {
          $.ajax({
            url: 'api/v0/captcha',
            type: 'POST',
            data: {
              site: 'stead_africa',
              Name: $('#contactName').val(),
              Email: $('#contactEmail').val(),
              Number: $('#contactNumber').val(),
              Message: $('#message').val(),
              'g-recaptcha-response': token
            },
            success: function (msg) {
              $("#successmsg").html("<p>Thanks for your request! We will be in contact soon</p>");
            },
            error: function (msg) {
              $("#successmsg").html("<p>Something seems to have gone wrong :( Please reload the page and try again</p>");
            }
          });
        });
      });
    });
  </script>
</BaseLayout>
