---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout
  title="Digital Excellence"
  description="stead. digital innovation"
  ogUrl="https://stead.africa/excellence.html"
>
  <Fragment slot="head">
    <style is:inline>
      #carousel1 {
        background-image: url('/img/christina-wocintechchat-com-PbUShBsiwZI-unsplash.jpg');
      }
      #carousel2 {
        background-image: url('/img/joanna-kosinska-7ACuHoezUYk-unsplash.jpg');
      }
      #carousel3 {
        background-image: url('/img/arnold-francisca-lz1MnBzCxLA-unsplash.jpg');
      }
      #card1 {
        background-image: url('/img/bg24.jpg');
      }
      #card2 {
        background-image: url('/img/bg23.jpg');
      }
      #card3 {
        background-image: url('/img/bg25.jpg');
      }
      #story1 {
        background-image: url('/img/pavel-chusovitin-BoUQGGbmhZY-unsplash.jpg');
      }
      #story1b {
        background-image: url('/img/christina-wocintechchat-com-NPwrwdQO3Mw-unsplash.jpg');
      }
      #story2 {
        background-image: url('/img/divjot-ratra-UQ_61DeiHss-unsplash.jpg');
      }
      #story2b {
        background-image: url('/img/allie-smith-Aevj-5kSfZI-unsplash.jpg');
      }
      #story3 {
        background-image: url('/img/nordwood-themes-bJjsKbToY34-unsplash.jpg');
      }
      #story3b {
        background-image: url('/img/oleg-magni-E7FYfLSy9KM-unsplash.jpg');
      }
    </style>
  </Fragment>

  <Nav />

  <div class="wrapper">
    <div class="main">
      <div class="header-3">
        <div id="carouselExampleIndicators" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="page-header header-filter">
                <div class="page-header-image"
                  id="carousel1">
                </div>
                <div class="container text-left">
                  <div class="content-center">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="iframe-container">
                        </div>
                      </div>
                      <div class="col-md-6 ml-auto mr-auto text-right">
                        <h1 class="title">What is digital excellence?</h1>
                        <h4 class="description ">Imagine a system which integrates bookings, purchases and loyalty. So
                          your customers keep coming back. Automatically</h4>
                        <div class="buttons">
                          <a href="#loyalty" class="btn btn-neutral btn-primary mr-1">
                            <i class="now-ui-icons files_single-copy-04"></i> Read More..
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="page-header header-filter">
                <div class="page-header-image" id="carousel2"></div>
                <div class="container">
                  <div class="content-center">
                    <div class="row">
                      <div class="col-md-8 ml-auto mr-auto text-center">
                        <h1 class="title">What is digital excellence?</h1>
                        <h4 class="description ">Imagine having immediate responses to customers on social media for
                          basic questions (what time is the event on Friday?), allowing you to spend more time on your
                          business</h4>
                        <br />
                        <div class="buttons">
                          <a href="#social" class="btn btn-neutral btn-primary mr-1">
                            <i class="now-ui-icons files_single-copy-04"></i> Read More..
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="page-header header-filter">
                <div class="page-header-image" id="carousel3"></div>
                <div class="container">
                  <div class="content-center">
                    <div class="row">
                      <div class="col-md-6 text-left">
                        <h1 class="title">What is digital excellence?</h1>
                        <h4 class="description ">Imagine your team checking the leaderboard every day to see how much
                          they've improved and if they're reaching targets</h4>
                        <br />
                        <div class="buttons">
                          <a href="#gamify" class="btn btn-neutral btn-primary mr-1">
                            <i class="now-ui-icons files_single-copy-04"></i> Read More..
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="now-ui-icons arrows-1_minimal-left"></i>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="now-ui-icons arrows-1_minimal-right"></i>
          </a>
        </div>
      </div>
      <div class="features-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Digital excellence is available for everyone</h2>
              <h4 class="description">stead. specialises in bringing digital excellence to your business. It's all
                about designing a solution to replace something within your business. We all have things in our business
                which use up resources, which don't need to. Let us help you to do less and get more</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 same-height">
              <div class="card card-background card-raised" data-background-color id="card1">
                <div class="info">
                  <div class="icon icon-white">
                    <i class="now-ui-icons business_bulb-63"></i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Increasing sales</h4>
                    <p>Digitising your business can increase sales in two ways: by allowing you to spend more time on
                      sales and less time on other non-value adding activities, or by attracting customers with
                      innovations</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 same-height">
              <div class="card card-background card-raised" data-background-color id="card2">
                <div class="info">
                  <div class="icon icon-white">
                    <i class="now-ui-icons business_badge"></i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Saving costs</h4>
                    <p>Whilst it costs businesses to implement digital systems, we ensure that these costs are offset by
                      savings in the business. These savings usually come from better efficiency and better ways of
                      managing processes and systems</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 same-height">
              <div class="card card-background card-raised" data-background-color id="card3">
                <div class="info">
                  <div class="icon icon-white">
                    <i class="now-ui-icons location_map-big"></i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Repurposing resources</h4>
                    <p>Implementing digital systems allows staff who were busy with administrative or menial tasks to
                      refocus their skills onto value adding activities</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="projects-3" data-background-color="black">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h6 class="category text-muted">Let's get practical</h6>
              <h2 class="title">Some case studies to illustrate digital excellence from stead.</h2>
            </div>
          </div>
          <div class="section-story-overview">
            <div class="row">
              <div class="col-md-6">
                <div class="image-container image-left" id="story1">
                  <a name="loyalty"></a>
                  <p class="blockquote blockquote-primary">"An integrated loyalty app with a booking system means people
                    are automatically incentivised to come back"
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="image-container image-right" id="story1b">
                </div>
                <h6 class="category text-primary">Sales</h6>
                <h4 class="card-title">Loyalty, booking and order system</h4>
                <p>In the hospitality industry, the world is moving towards a more digital space. We create a platform
                  which allows customers to make orders from their seats, integrated with POS. We can then integrate
                  this with an online booking system, as well as a loyalty system to make sure the customers keep coming
                  back
                </p>
              </div>
            </div>
          </div>
          <div class="section-story-overview">
            <div class="row">
              <div class="col-md-6">
                <div class="image-container image-left" id="story2">
                  <a name="gamify"></a>
                  <p class="blockquote blockquote-primary">"An automatic system which tracks performance, awards good
                    behaviour and inspires people to compete"
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="image-container image-right"  id="story2b">
                </div>
                <h6 class="category text-primary">Gamification</h6>
                <h4 class="card-title">Making KPIs competitive in industry</h4>
                <p>In industry, KPIs can sometimes mean different things to different levels. We create a platform which
                  allows teams to compete against each other and watch their progress every second. The automatic system
                  inspires people to do the best they can, win awards at set levels, and form a track record to beat
                </p>
              </div>
            </div>
          </div>
          <div class="section-story-overview">
            <div class="row">
              <div class="col-md-6">
                <div class="image-container image-left" id="story3">
                  <a name="social"></a>
                  <p class="blockquote blockquote-primary">"An automated system for responding to basic queries, and
                    passing only the complicated one back to you"
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="image-container image-right" id="story3b">
                </div>
                <h6 class="category text-primary">Reporpusing resources</h6>
                <h4 class="card-title">Social media management</h4>
                <p>All major businesses these days have strong social media presence, and have to spend a great deal of
                  time responding to basic queries. A smart chat system allows the most basic queries to be quickly
                  answered at all hours of the day, whilst still passing off the important ones to keep that personal
                  touch
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Footer />
</BaseLayout>
