---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';

// Import images for testimonials
import michaelImg from '../assets/img/michael.jpg';
import oliviaImg from '../assets/img/olivia.jpg';
---

<BaseLayout
  title="Our Story"
  description="stead. digital innovation"
  ogUrl="https://stead.africa/ourstory.html"
>
  <Fragment slot="head">
    <style is:inline>
      #header1 {
        background-image: url('/img/jeremy-perkins-UgNjyPkphtU-unsplash.jpg');
      }
      #story1 {
        background-image: url('/img/hao-wang-pVq6YhmDPtk-unsplash.jpg');
      }
      #story2 {
        background-image: url('/img/oliver-pecker-HONJP8DyiSM-unsplash.jpg');
      }
      #story3 {
        background-image: url('/img/alex-tXYg4Zx7kSU-unsplash.jpg');
      }
      #story4 {
        background-image: url('/img/billy-williams-8wz1Q4Q_XAg-unsplash.jpg');
      }
    </style>
  </Fragment>

  <Nav />

  <div class="wrapper">
    <div class="main">
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" id="header1">
        </div>
        <div class="content-center">
          <div class="container">
            <h1 class="title">We make things simple</h1>
            <div class="text-center">
              <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="section section-about-us">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">How do we do it?</h2>
              <h5 class="description">We mix the latest digital tech with reliable old ways of doing things to create a
                custom solution that solves a single problem. Our team has engineering, and management consulting
                background. Which means we design the best solution, which solves the real problem
              </h5>
            </div>
          </div>
          <div class="separator separator-primary"></div>
          <div class="section-story-overview">
            <div class="row">
              <div class="col-md-6">
                <div class="image-container image-left" id="story1">
                  <p class="blockquote blockquote-primary">"Simple can be harder than complex: You have to work hard to
                    get your thinking clean to make it simple. But it's worth it in the end because once you get there,
                    you can move mountains."
                    <br>
                    <br>
                    <small>Steve Jobs</small>
                  </p>
                </div>
                <div class="image-container image-left-bottom" id="story2">
                </div>
              </div>
              <div class="col-md-5">
                <div class="image-container image-right" id="story3"></div>
                <h3>So how will you do this for me?</h3>
                <p>We are the experts in digital innovation. What does this mean? We come up with the best solutions for your business to meet your needs
                </p>
                <p>We create this excellence by engineering your people, processes and technology. We don't leave any stone unturned. It's all about a collaborative problem solving approach with the end user, to solve their business/world problem.
                  User interaction is favoured, and solutions are developed for the platform they will be using, with fast response times and great ergonomics.
                </p>
                <p>We make sure that we always stay like this, as our team is always:
                  <ul>
                    <li>Learning</li>
                    <li>Open minded</li>
                    <li>Serving others</li>
                    <li>Fun</li>
                    <li>Inspirational</li>
                    <li>Diverse</li>
                    <li>Exceedingly ethical</li>
                    <li>Performance & self-improvement driven</li>
                    <li>Mentoring each other</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonials-1 section-image" id="story4">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h2 class="title">What do our customers say?</h2>
              <h4 class="description text-white">It's our passion to make your life simpler, so you can get more and do less. See how we've already done this for others</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 same-height">
              <div class="card card-testimonial">
                <div class="card-avatar">
                  <a href="#pablo">
                    <Image src={michaelImg} alt="Quentin" width={100} height={100} format="webp" quality={80} />
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-description">
                    stead. has made it so that I don't need to think about the boring things and get on with what I love doing
                  </p>
                </div>
                <div class="icon icon-primary">
                  <i class="fa fa-quote-right"></i>
                </div>
                <div class="card-footer">
                  <h4 class="card-title">Quentin</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 same-height">
              <div class="card card-testimonial">
                <div class="card-avatar">
                  <a href="#pablo">
                    <Image src={oliviaImg} alt="Jennifer" width={100} height={100} format="webp" quality={80} />
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-description">
                    stead. has revolutionised my business with tools from Zoho, which allow me to manage my entire business more easily
                  </p>
                </div>
                <div class="icon icon-primary">
                  <i class="fa fa-quote-right"></i>
                </div>
                <div class="card-footer">
                  <h4 class="card-title">Jennifer</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 same-height">
              <div class="card card-testimonial">
                <div class="card-avatar">
                  <a href="#pablo">
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-description">
                    Contact us to get your story here!
                  </p>
                </div>
                <div class="icon icon-primary">
                  <i class="fa fa-quote-right"></i>
                </div>
                <div class="card-footer">
                  <h4 class="card-title">You</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section section-contact-us text-center">
        <div class="container">
          <h2 class="title">Want to work with us?</h2>
          <p class="description">Your project is very important to us.</p>
          <div class="row">
            <div class="col-lg-6 text-center ml-auto mr-auto col-md-8">
              <div class="card card-contact card-raised">
                <form role="form" id="contact-form" method="post">
                  <div class="card-header text-center">
                    <h4 class="card-title">Contact Us</h4>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="info info-horizontal">
                          <div class="icon icon-primary">
                            <i class="now-ui-icons tech_mobile"></i>
                          </div>
                          <div class="description">
                            <h5 class="info-title">Give us a ring</h5>
                            <p>Daniel Donaldson
                              <br> +27 76 330 4852
                              <br> Mon - Fri, 8:00-22:00
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="info info-horizontal">
                          <div class="icon icon-primary">
                            <i class="now-ui-icons location_pin"></i>
                          </div>
                          <div class="description">
                            <h5 class="info-title">Find us at the office</h5>
                            <p>Villa Carrara, 6 Somerville Avenue,
                              <br> Melrose, Johannesburg
                              <br> 2191
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 ml-auto mr-auto">
                        <div class="form-group label-floating">
                          <label class="control-label">First name</label>
                          <input type="text" name="name" class="form-control" placeholder="First Name..." required />
                        </div>
                      </div>
                      <div class="col-md-6 ml-auto mr-auto">
                        <div class="form-group label-floating">
                          <label class="control-label">Last name</label>
                          <input type="text" name="surname" class="form-control" placeholder="Last Name..." required />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 ml-auto mr-auto">
                        <div class="form-group label-floating">
                          <label class="control-label">Email address</label>
                          <input type="email" name="email" class="form-control" placeholder="Email..." required />
                        </div>
                      </div>
                      <div class="col-md-6 ml-auto mr-auto">
                        <div class="form-group label-floating">
                          <label class="control-label">Phone</label>
                          <input type="text" name="phone" class="form-control" placeholder="Phone..." />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 ml-auto mr-auto">
                        <div class="form-group label-floating">
                          <label class="control-label">Your message</label>
                          <textarea name="message" class="form-control" id="message" rows="6" required></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-center">
                    <button type="submit" class="g-recaptcha btn btn-primary btn-round btn-lg">Send Message</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Footer />
</BaseLayout>
