<nav class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/" rel="tooltip" title="Simple Excellence" data-placement="bottom">
        stead.
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar top-bar"></span>
        <span class="navbar-toggler-bar middle-bar"></span>
        <span class="navbar-toggler-bar bottom-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="/img/blurred-image-1.jpg" data-color="orange" id='navImage'>
      <ul class="navbar-nav ml-auto" id="ceva">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown">
            <i class="now-ui-icons design_app"></i>
            <p>Solutions</p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
            <a class="dropdown-item" href="/excellence">
              <i class="now-ui-icons business_chart-pie-36"></i> Let us create digital excellence
            </a>
            <a class="dropdown-item" href="/processes">
              <i class="now-ui-icons design_bullet-list-67"></i> Let's work together for better processes
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
            <i class="now-ui-icons files_paper" aria-hidden="true"></i>
            <p>About us</p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/ourstory">
              <i class="now-ui-icons shopping_box"></i> Our story
            </a>
            <a class="dropdown-item" href="/privacy">
              <i class="now-ui-icons text_align-left"></i> Our privacy policy
            </a>
            <a class="dropdown-item" href="/performance">
              <i class="now-ui-icons sport_user-run"></i> Our performance promise
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="/contact">
            <p>Contact us</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
